---
BasedOnStyle: Chromium
AlignConsecutiveAssignments: 
  Enabled: true
  AcrossEmptyLines: true
AlignConsecutiveDeclarations: Consecutive
AlignConsecutiveMacros: Consecutive
AlignConsecutiveShortCaseStatements:
  Enabled: true
AlignTrailingComments:
  Kind: Always
AllowShortBlocksOnASingleLine: Always
AllowShortCaseLabelsOnASingleLine: True
AllowShortEnumsOnASingleLine: True
AllowShortFunctionsOnASingleLine: All
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
AllowShortLoopsOnASingleLine: True
ColumnLimit: 120
RemoveBracesLLVM: True